data/
graphs/
DCN_DEV_F1.csv
run_.-tag-F1_DEV.csv
.env

# exclude folders/files named data, models or logs in the
# project root directory, but not anywhere else.
paraphrase-id-tensorflow-master/data
!*/data
paraphrase-id-tensorflow-master/models
!*/models
paraphrase-id-tensorflow-master/logs
!*/logs
